# Project

# Final Project - Analyzing Sales Data

**Date**: 05 November 2023

**Author**: Charinrat Sajjanadamrong 

**Course**: `Pandas Foundation`

In [35]:
# import data
import pandas as pd
df = pd.read_csv("/data/notebook_files/Newwork/sample-store.csv")

In [12]:
# preview top 5 rows
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,date,year
0,1,CA-2019-152156,11/8/2019,11/11/2019,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,2019-11-08,2019
1,2,CA-2019-152156,11/8/2019,11/11/2019,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,2019-11-08,2019
2,3,CA-2019-138688,6/12/2019,6/16/2019,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,2019-06-12,2019
3,4,US-2018-108966,10/11/2018,10/18/2018,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,2018-10-11,2018
4,5,US-2018-108966,10/11/2018,10/18/2018,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,2018-10-11,2018

In [9]:
# shape of dataframe
df.shape

(9994, 21)

In [30]:
# see data frame information using .info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          9994 non-null   int64
 1   Order ID        9994 non-null   object
 2   Order Date      9994 non-null   object
 3   Ship Date       9994 non-null   object
 4   Ship Mode       9994 non-null   object
 5   Customer ID     9994 non-null   object
 6   Customer Name   9994 non-null   object
 7   Segment         9994 non-null   object
 8   Country/Region  9994 non-null   object
 9   City            9994 non-null   object
 10  State           9994 non-null   object
 11  Postal Code     9983 non-null   float64
 12  Region          9994 non-null   object
 13  Product ID      9994 non-null   object
 14  Category        9994 non-null   object
 15  Sub-Category    9994 non-null   object
 16  Product Name    9994 non-null   object
 17  Sales           9994 non-null   float64
 18  Quantity        9994 non-null   int64
 19  Discount        9994 non-null   float64
 20  Profit          9994 non-null   float64
 21  date            9994 non-null   datetime64[ns]
 22  year            9994 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(15)
memory usage: 1.8+ MB

We can use `pd.to_datetime()` function to convert columns 'Order Date' and 'Ship Date' to datetime.

In [11]:
# example of pd.to_datetime() function
df["date"] = pd.to_datetime(df['Order Date'], format='%m/%d/%Y')
df["year"] = df["date"].dt.year

      Row ID        Order ID  Order Date   Ship Date       Ship Mode  \
0          1  CA-2019-152156   11/8/2019  11/11/2019    Second Class
1          2  CA-2019-152156   11/8/2019  11/11/2019    Second Class
2          3  CA-2019-138688   6/12/2019   6/16/2019    Second Class
3          4  US-2018-108966  10/11/2018  10/18/2018  Standard Class
4          5  US-2018-108966  10/11/2018  10/18/2018  Standard Class
...      ...             ...         ...         ...             ...
9989    9990  CA-2017-110422   1/21/2017   1/23/2017    Second Class
9990    9991  CA-2020-121258   2/26/2020    3/3/2020  Standard Class
9991    9992  CA-2020-121258   2/26/2020    3/3/2020  Standard Class
9992    9993  CA-2020-121258   2/26/2020    3/3/2020  Standard Class
9993    9994  CA-2020-119914    5/4/2020    5/9/2020    Second Class

     Customer ID     Customer Name    Segment Country/Region             City  \
0       CG-12520       Claire Gute   Consumer  United States        Henderson
1       CG-12520       Claire Gute   Consumer  United States        Henderson
2       DV-13045   Darrin Van Huff  Corporate  United States      Los Angeles
3       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
4       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
...          ...               ...        ...            ...              ...
9989    TB-21400  Tom Boeckenhauer   Consumer  United States            Miami
9990    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9991    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9992    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9993    CC-12220      Chris Cortes   Consumer  United States      Westminster

      ...       Product ID         Category Sub-Category  \
0     ...  FUR-BO-10001798        Furniture    Bookcases
1     ...  FUR-CH-10000454        Furniture       Chairs
2     ...  OFF-LA-10000240  Office Supplies       Labels
3     ...  FUR-TA-10000577        Furniture       Tables
4     ...  OFF-ST-10000760  Office Supplies      Storage
...   ...              ...              ...          ...
9989  ...  FUR-FU-10001889        Furniture  Furnishings
9990  ...  FUR-FU-10000747        Furniture  Furnishings
9991  ...  TEC-PH-10003645       Technology       Phones
9992  ...  OFF-PA-10004041  Office Supplies        Paper
9993  ...  OFF-AP-10002684  Office Supplies   Appliances

                                           Product Name     Sales Quantity  \
0                     Bush Somerset Collection Bookcase  261.9600        2
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400        3
2     Self-Adhesive Address Labels for Typewriters b...   14.6200        2
3         Bretford CR4500 Series Slim Rectangular Table  957.5775        5
4                        Eldon Fold 'N Roll Cart System   22.3680        2
...                                                 ...       ...      ...
9989                             Ultra Door Pull Handle   25.2480        3
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   91.9600        2
9991                              Aastra 57i VoIP phone  258.5760        2
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.6000        4
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...  243.1600        2

     Discount    Profit       date  year
0        0.00   41.9136 2019-11-08  2019
1        0.00  219.5820 2019-11-08  2019
2        0.00    6.8714 2019-06-12  2019
3        0.45 -383.0310 2018-10-11  2018
4        0.20    2.5164 2018-10-11  2018
...       ...       ...        ...   ...
9989     0.20    4.1028 2017-01-21  2017
9990     0.00   15.6332 2020-02-26  2020
9991     0.20   19.3932 2020-02-26  2020
9992     0.00   13.3200 2020-02-26  2020
9993     0.00   72.9480 2020-05-04  2020

[9994 rows x 23 columns]

In [51]:
# TODO - convert order date and ship date to datetime in the original dataframe
df['Order Date'] = pd.to_datetime(df['Order Date'],format='%m/%d/%Y')
df['Ship Date'] = pd.to_datetime(df['Ship Date'],format='%m/%d/%Y')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          9994 non-null   int64
 1   Order ID        9994 non-null   object
 2   Order Date      9994 non-null   datetime64[ns]
 3   Ship Date       9994 non-null   datetime64[ns]
 4   Ship Mode       9994 non-null   object
 5   Customer ID     9994 non-null   object
 6   Customer Name   9994 non-null   object
 7   Segment         9994 non-null   object
 8   Country/Region  9994 non-null   object
 9   City            9994 non-null   object
 10  State           9994 non-null   object
 11  Postal Code     9983 non-null   float64
 12  Region          9994 non-null   object
 13  Product ID      9994 non-null   object
 14  Category        9994 non-null   object
 15  Sub-Category    9994 non-null   object
 16  Product Name    9994 non-null   object
 17  Sales           9994 non-null   float64
 18  Quantity        9994 non-null   int64
 19  Discount        9994 non-null   float64
 20  Profit          9994 non-null   float64
dtypes: datetime64[ns](2), float64(4), int64(2), object(13)
memory usage: 1.6+ MB

In [58]:
# TODO - filter rows with missing values
df [df['Postal Code'].isna()]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
2234,2235,CA-2020-104066,2020-12-05,2020-12-10,Standard Class,QJ-19255,Quincy Jones,Corporate,United States,Burlington,...,NaN,East,TEC-AC-10001013,Technology,Accessories,Logitech ClearChat Comfort/USB Headset H390,205.03,7,0.0,67.6599
5274,5275,CA-2018-162887,2018-11-07,2018-11-09,Second Class,SV-20785,Stewart Visinsky,Consumer,United States,Burlington,...,NaN,East,FUR-CH-10000595,Furniture,Chairs,Safco Contoured Stacking Chairs,715.20,3,0.0,178.8000
8798,8799,US-2019-150140,2019-04-06,2019-04-10,Standard Class,VM-21685,Valerie Mitchum,Home Office,United States,Burlington,...,NaN,East,TEC-PH-10002555,Technology,Phones,Nortel Meridian M5316 Digital phone,1294.75,5,0.0,336.6350
9146,9147,US-2019-165505,2019-01-23,2019-01-27,Standard Class,CB-12535,Claudia Bergmann,Corporate,United States,Burlington,...,NaN,East,TEC-AC-10002926,Technology,Accessories,Logitech Wireless Marathon Mouse M705,99.98,2,0.0,42.9914
9147,9148,US-2019-165505,2019-01-23,2019-01-27,Standard Class,CB-12535,Claudia Bergmann,Corporate,United States,Burlington,...,NaN,East,OFF-AR-10003477,Office Supplies,Art,4009 Highlighters,8.04,6,0.0,2.7336
9148,9149,US-2019-165505,2019-01-23,2019-01-27,Standard Class,CB-12535,Claudia Bergmann,Corporate,United States,Burlington,...,NaN,East,OFF-ST-10001526,Office Supplies,Storage,Iceberg Mobile Mega Data/Printer Cart,1564.29,13,0.0,406.7154
9386,9387,US-2020-127292,2020-01-19,2020-01-23,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,...,NaN,East,OFF-PA-10000157,Office Supplies,Paper,Xerox 191,79.92,4,0.0,37.5624
9387,9388,US-2020-127292,2020-01-19,2020-01-23,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,...,NaN,East,OFF-PA-10001970,Office Supplies,Paper,Xerox 1881,12.28,1,0.0,5.7716
9388,9389,US-2020-127292,2020-01-19,2020-01-23,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,...,NaN,East,OFF-AP-10000828,Office Supplies,Appliances,Avanti 4.4 Cu. Ft. Refrigerator,542.94,3,0.0,152.0232
9389,9390,US-2020-127292,2020-01-19,2020-01-23,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,...,NaN,East,OFF-EN-10001509,Office Supplies,Envelopes,Poly String Tie Envelopes,2.04,1,0.0,0.9588
9741,9742,CA-2018-117086,2018-11-08,2018-11-12,Standard Class,QJ-19255,Quincy Jones,Corporate,United States,Burlington,...,NaN,East,FUR-BO-10004834,Furniture,Bookcases,"Riverside Palais Royal Lawyers Bookcase, Royal...",4404.90,5,0.0,1013.1270

In [ ]:
# TODO - Explore this dataset on your owns, ask your own questions

## Data Analysis Part

Answer 10 below questions to get credit from this course. Write `pandas` code to find answers.

In [36]:
# TODO 01 - how many columns, rows in this dataset
print("Row is ",df.shape[0],"Columns is" , df.shape[1])

##Ans. 9994 row and 21 column

Row is  9994 Columns is 21

In [43]:
# TODO 02 - is there any missing values?, if there is, which colunm? how many nan values?

df.isna().sum().sort_values(ascending=False)

##Ans. Column : 11 Postal Code have 11 Missing value

In [47]:
# TODO 03 - your friend ask for `California` data, filter it and export csv for him
data_California = df[df['State']== "California"]
data_California.to_csv('Data_California.csv',index = False)

In [55]:
# TODO 04 - your friend ask for all order data in `California` and `Texas` in 2017 (look at Order Date), send him csv file
data_C_and_T_2017 = df[(df['State'].isin(["California","Texas"])) & (df['Order Date'].dt.year == 2017)]
data_C_and_T_2017.to_csv('data_C_and_T_2017.csv',index=False)

In [56]:
# TODO 05 - how much total sales, average sales, and standard deviation of sales your company make in 2017
df[df['Order Date'].dt.year == 2017]['Sales'].agg(['sum','mean','std'])

In [64]:
# TODO 06 - which Segment has the highest profit in 2018

df[df['Order Date'].dt.year == 2018].groupby('Segment')['Profit'].sum().sort_values(ascending=False)

In [67]:
# TODO 07 - which top 5 States have the least total sales between 15 April 2019 - 31 December 2019
df[(df['Order Date']>= '2019-4-15') & (df['Order Date']<= '2019-12-31')].groupby('State')['Sales'].sum().sort_values(ascending=True).head(5)

In [68]:
# TODO 08 - what is the proportion of total sales (%) in West + Central in 2019 e.g. 25% 
fil_col = df[df['Order Date'].dt.year == 2019 ]
total = pd.DataFrame(fil_col[['Region','Sales']].groupby('Region')['Sales'].sum().sort_values(ascending=False)).round(2).reset_index()
sumtotal = total['Sales'].sum()
total['Percentage'] = round((total['Sales']/sumtotal)*100,2)

print("West + Central in 2019 equal",total[(total['Region']=='West')|(total['Region']=='Central')]['Percentage'].sum())

West + Central in 2019 equal 54.97

In [ ]:
# TODO 09 - find top 10 popular products in terms of number of orders vs. total sales during 2019-2020

fil_year = df[(df['Order Date'].dt.year == 2019)|(df['Order Date'].dt.year == 2020)]
fil_year['Order Date'] = fil_year['Order Date'].dt.year
re_col = fil_year[['Product Name','Order Date','Quantity','Sales']]
full_2019 = re_col[re_col['Order Date']== 2019].groupby('Product Name')[['Quantity','Sales']].sum().round(2).reset_index()
full_2020 = re_col[re_col['Order Date']== 2020].groupby('Product Name')[['Quantity','Sales']].sum().round(2).reset_index()
Full_df =  pd.merge(full_2019,full_2020,how='outer',on='Product Name')
Full_df['Dif_Quantity'] = Full_df['Quantity_x'] - Full_df['Quantity_y']
Full_df['Dif_Sales'] = round(Full_df['Sales_x'] - Full_df['Sales_y'],2)
Full_df.rename(columns={'Quantity_x':'2019_Quantity','Sales_x':'2019_Sales','Quantity_y':'2020_Quantity','Sales_y':'2020_Sales'})
Full_df.sort_values(by='Quantity_x',ascending=False)

In [ ]:
# TODO 10 - plot at least 2 plots, any plot you think interesting :)
import matplotlib.pyplot as plt
# TODO 10 - plot at least 2 plots, any plot you think interesting :)
for_bar = df[['Region', 'Profit']].groupby('Region')['Profit'].sum().round(2).reset_index()
plt.figure(figsize=(8, 5))
plt.bar(for_bar['Region'], for_bar['Profit'], color='skyblue')
plt.title('Total Profit by Region')
plt.xlabel('Region')
plt.ylabel('Total Profit')
plt.grid(axis='y', linestyle='--', alpha=1)

# Pie chart (Distribution of Profit by Region)
plt.figure(figsize=(6, 6))
plt.pie(for_bar['Profit'], labels=for_bar['Region'], autopct='%1.1f%%', colors=['lightcoral', 'lightskyblue', 'lightgreen', 'lightpink'])
plt.title('Distribution of Profit by Region')

In [75]:
# TODO Bonus - use np.where() to create new column in dataframe to help you answer your own questions
#I want to know Which state purchases more than 20 piece ?
import numpy as np
group_state = df[['State','Quantity']].groupby('State').agg('count').reset_index()
group_state['Check'] = np.where(group_state['Quantity']>= 20 , 1,0)
group_state

,State,Quantity,Check
0,Alabama,61,1
1,Arizona,224,1
2,Arkansas,60,1
3,California,2001,1
4,Colorado,182,1
5,Connecticut,82,1
6,Delaware,96,1
7,District of Columbia,10,0
8,Florida,383,1
9,Georgia,184,1
10,Idaho,21,1
11,Illinois,492,1
12,Indiana,149,1
13,Iowa,30,1
14,Kansas,24,1
15,Kentucky,139,1
16,Louisiana,42,1
17,Maine,8,0
18,Maryland,105,1
19,Massachusetts,135,1
20,Michigan,255,1
21,Minnesota,89,1
22,Mississippi,53,1
23,Missouri,66,1
24,Montana,15,0
25,Nebraska,38,1
26,Nevada,39,1
27,New Hampshire,27,1
28,New Jersey,130,1
29,New Mexico,37,1
30,New York,1128,1
31,North Carolina,249,1
32,North Dakota,7,0
33,Ohio,469,1
34,Oklahoma,66,1
35,Oregon,124,1
36,Pennsylvania,587,1
37,Rhode Island,56,1
38,South Carolina,42,1
39,South Dakota,12,0
40,Tennessee,183,1
41,Texas,985,1
42,Utah,53,1
43,Vermont,11,0
44,Virginia,224,1
45,Washington,506,1
46,West Virginia,4,0
47,Wisconsin,110,1
48,Wyoming,1,0